
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn. Mọi thắc mắc xin liên hệ Admin : 0977099741 để biết thêm chi tiết</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "TrangChu", "BinStore")
</p>

